.text-category{
    display: flex;
    position: absolute;
    padding-top: 15px;
    font-size: 25px;
    text-align: center;
}
.new-button{
    display: flex;
    position: relative;
    padding-top: 100px;
    margin-right: 10px;
}
.trackbutton{
    border-radius: 20px;
    width: 150px;
    padding: 5px ;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: opacity 0.2s ease-in-out; 
    cursor: pointer;
    outline: none;
}
.trackbutton:hover{
    background-color:rgb(92, 187, 187);
    border-color: none;
}
.form-wrapper{
    padding-top: 10px;
    width: 95%;
}
.input-rounded {
    width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
   margin-bottom: 16px;
  background-color: #d3d3d3;
  color: black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
